body {
    background-image: url("unnamed.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: #a4abb0;
    font-family: Segoe UI, sans-serif;
    border: 2px dotted blue;
    padding: 10px 15px;
    width: 250px;
    margin: 20px auto;
}

p {
    text-align: justify;
    background-color: hsl(205°, 38%, 65%);
    font-style: italic;
    padding: 20px;
    border: 3px solid black;
    border-style: double solid;
    width: 500px;
    margin: 0px auto;
}

span {
    font-weight: bold;
    font-style: italic;
    color: rgb(20, 44, 61);
    margin: 2px 5px;
}
